force-app/main/default/flows/Get_Strava_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>StravaCallout</name>
        <label>Strava Callout</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Strava.Strava</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>after</name>
            <value>
                <elementReference>var_Date_Value</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Strava.Strava</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Date_Value_in_Integer</name>
        <label>Set Date Value in Integer</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>var_Date_Integer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StravaCallout</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>f_Date</name>
        <dataType>Number</dataType>
        <expression>UNIXTIMESTAMP({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Get Strava Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Strava Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Date_Value_in_Integer</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_Date_Integer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Date_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>f_Date</elementReference>
        </value>
    </variables>
</Flow>
