force-app/main/default/flows/Screen_Flow_Get_Strava_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Strava_Activities_Callout</name>
        <label>Get Strava Activities Callout</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>StravaCallout.Get Strava Activities</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Assign_Data_to_Apex_Defined_RCS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>after</name>
            <value>
                <elementReference>var_Date_Integer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StravaCallout.Get Strava Activities</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Exercise_Records_to_RCS</name>
        <label>Add Exercise Records to RCS</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>var_Exercise_RCS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sov_Exercise_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_RCS_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Data_to_Apex_Defined_RCS</name>
        <label>Assign Data to Apex Defined RCS</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_Apex_Defined_RCS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Strava_Activities_Callout.2XX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex_RCS_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exercise_Values</name>
        <label>Assign Exercise Values</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>sov_Exercise_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Apex_Defined_Single.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise_Record.Distance_Miles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Distance_Miles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise_Record.Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Time_Minutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise_Record.Elevation_Gain_Feet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Elevation_Gain</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise_Record.Type_of_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Apex_Defined_Single.z0type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise_Record.Subtype_of_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Subtype_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise_Record.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Date_Record_SFID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise_Record.Average_Heart_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Apex_Defined_Single.averagex5fheartrate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise_Record.Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Week_Record_SFID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Exercise_Records_to_RCS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Record_to_Variable</name>
        <label>Assign Single Record to Variable</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_Apex_Defined_Single</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apex_RCS_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Date_from_Activity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Date_Value_in_Integer</name>
        <label>Set Date Value in Integer</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_Date_Integer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_Date_Conversion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Strava_Activities_Callout</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_that_Activities_were_Found</name>
        <label>Check that Activities were Found</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>No_Strava_Activities_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NULL RCS</defaultConnectorLabel>
        <rules>
            <name>NOT_NULL_Exercise_RCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Exercise_RCS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Strava_Activities_Found</targetReference>
            </connector>
            <label>NOT NULL Exercise RCS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_Date_Conversion</name>
        <dataType>Number</dataType>
        <expression>UNIXTIMESTAMP({!Activity_Date})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_Date_of_Activity</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!var_Apex_Defined_Single.startx5fdate})</expression>
    </formulas>
    <formulas>
        <name>f_Distance_Miles</name>
        <dataType>Number</dataType>
        <expression>(({!var_Apex_Defined_Single.distance}*3.3)/5280)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_Elevation_Gain</name>
        <dataType>Number</dataType>
        <expression>{!var_Apex_Defined_Single.totalx5felevationx5fgain}*3.3</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>f_Subtype_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
{!var_Apex_Defined_Single.sportx5ftype} = &apos;Run&apos;, &apos;Road Run&apos;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_Time_Minutes</name>
        <dataType>Number</dataType>
        <expression>{!var_Apex_Defined_Single.movingx5ftime}/60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Get Strava Data</label>
    <loops>
        <name>Apex_RCS_Loop</name>
        <label>Apex RCS Loop</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>var_Apex_Defined_RCS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Record_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_that_Activities_were_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Exercise_Records</name>
        <label>Create Exercise Records</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <inputReference>var_Exercise_RCS</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Date_from_Activity</name>
        <label>Get Date from Activity</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Exercise_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Date_of_Activity</elementReference>
            </value>
        </filters>
        <object>Day__c</object>
        <outputAssignments>
            <assignToReference>var_Date_Record_SFID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Week_Record_SFID</assignToReference>
            <field>Week__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>No_Strava_Activities_Found</name>
        <label>No Strava Activities Found</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Activities_Found_Text</name>
            <fieldText>&lt;p&gt;No new activities were found, uh oh!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Strava_Activities_Found</name>
        <label>Strava Activities Found</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Exercise_Records</targetReference>
        </connector>
        <fields>
            <name>Exercise_Records_to_Create</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Exercise__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Exercise Records to Create</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>var_Exercise_RCS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b767&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Exercise Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type_of_Activity__c&quot;,&quot;guid&quot;:&quot;column-b436&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type of Activity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Subtype_of_Activity__c&quot;,&quot;guid&quot;:&quot;column-3658&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Subtype of Activity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Distance_Miles__c&quot;,&quot;guid&quot;:&quot;column-36fc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Distance (Miles)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Duration_Minutes__c&quot;,&quot;guid&quot;:&quot;column-8c6b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Duration (Minutes)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Date_Value_in_Integer</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Text</name>
            <fieldText>&lt;p&gt;Hi {!$User.FirstName}, select a date below to get Strava activities after. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Activity_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Activity Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>sov_Exercise_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exercise__c</objectType>
    </variables>
    <variables>
        <name>var_Apex_Defined_RCS</name>
        <apexClass>ExternalService__StravaCallout_Getx20Stravax20Activities_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Apex_Defined_Single</name>
        <apexClass>ExternalService__StravaCallout_Getx20Stravax20Activities_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Date_Integer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Date_Record_SFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Exercise_RCS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exercise__c</objectType>
    </variables>
    <variables>
        <name>var_Week_Record_SFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
