force-app/main/default/flows/Screen_Flow_Create_Day_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_0_to_CV_of_Numbers</name>
        <label>Add 0 to CV of Numbers</label>
        <locationX>402</locationX>
        <locationY>1856</locationY>
        <assignmentItems>
            <assignToReference>cv_List_of_Numbers</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Number_is_Equal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stub_to_RCS</name>
        <label>Add Stub to RCS</label>
        <locationX>358</locationX>
        <locationY>2696</locationY>
        <assignmentItems>
            <assignToReference>rcs_Days</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Day_Values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Day_Value_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_of_Numbers</name>
        <label>Add to List of Numbers</label>
        <locationX>666</locationX>
        <locationY>2180</locationY>
        <assignmentItems>
            <assignToReference>cv_List_of_Numbers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Values_in_List_of_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Month_SFID</name>
        <label>Assign Current Month SFID</label>
        <locationX>226</locationX>
        <locationY>2396</locationY>
        <assignmentItems>
            <assignToReference>var_Month_SFID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Month.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transform_Day_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loop_Number_to_Counter</name>
        <label>Assign Loop Number to Counter</label>
        <locationX>358</locationX>
        <locationY>2180</locationY>
        <assignmentItems>
            <assignToReference>var_Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_Day_Value_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Current_Month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Week_ID_as_recordId</name>
        <label>Assign New Week ID as recordId</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sov_Week.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_Month_SFID</name>
        <label>Assign Next Month SFID</label>
        <locationX>490</locationX>
        <locationY>2396</locationY>
        <assignmentItems>
            <assignToReference>var_Month_SFID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Month.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transform_Day_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Week_Values</name>
        <label>Assign Week Values</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>sov_Week.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Week_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Week.Week_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Week_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Week.Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Month.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Week_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Values_in_List_of_Numbers</name>
        <label>Count Values in List of Numbers</label>
        <locationX>666</locationX>
        <locationY>2288</locationY>
        <assignmentItems>
            <assignToReference>var_Count_of_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>cv_List_of_Numbers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_Number_is_Equal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>666</locationX>
        <locationY>2072</locationY>
        <assignmentItems>
            <assignToReference>var_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_of_Numbers</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_if_Current_Month</name>
        <label>Check if Current Month</label>
        <locationX>358</locationX>
        <locationY>2288</locationY>
        <defaultConnector>
            <targetReference>Assign_Next_Month_SFID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>f_Day_Number</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Month_SFID</targetReference>
            </connector>
            <label>Current Month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Next_Month_Found</name>
        <label>Check if Next Month Found</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Create_Days_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Month Found</defaultConnectorLabel>
        <rules>
            <name>No_Next_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Month</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_Next_Month_Number</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Year</targetReference>
            </connector>
            <label>No Next Month</label>
        </rules>
        <rules>
            <name>No_Next_Month_and_New_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Month</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_Next_Month_Number</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Next_Year</targetReference>
            </connector>
            <label>No Next Month and New Year</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Next_Year_was_Found</name>
        <label>Check if Next Year was Found</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Transform_Month_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Next_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Year</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Year</targetReference>
            </connector>
            <label>No Next Year</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Number_is_Equal</name>
        <label>Check if Number is Equal</label>
        <locationX>402</locationX>
        <locationY>1964</locationY>
        <defaultConnector>
            <targetReference>Increment_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Counter_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Day_Value_Loop</targetReference>
            </connector>
            <label>Counter = 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Week_was_Found</name>
        <label>Check if Week was Found</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Month</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Week Found</defaultConnectorLabel>
        <rules>
            <name>Week_was_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Week</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Week_Found</targetReference>
            </connector>
            <label>Week was Not Found</label>
        </rules>
    </decisions>
    <description>v3: fixing month issues</description>
    <environments>Default</environments>
    <formulas>
        <name>f_Date_Value</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!Starting_Date}), 
IF(
    (DAY({!Starting_Date}+{!var_Counter})&lt;31), 
    MONTH({!Starting_Date}), 
    MONTH({!Starting_Date})+1), 
DAY({!Starting_Date}+{!var_Counter}))</expression>
    </formulas>
    <formulas>
        <name>f_Day_Number</name>
        <dataType>Number</dataType>
        <expression>(DAY({!Starting_Date})) + {!var_Counter}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_Day_Number_Value</name>
        <dataType>Number</dataType>
        <expression>DAY({!f_Date_Value})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_Next_Month_Number</name>
        <dataType>Number</dataType>
        <expression>{!Get_Current_Month.Month_Number__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_Next_Year_Name</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE({!Get_Current_Month.Year__r.Name})+1)</expression>
    </formulas>
    <interviewLabel>Screen Flow: Create Day Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Create Day Records</label>
    <loops>
        <name>Assign_Day_Value_Loop</name>
        <label>Assign Day Value Loop</label>
        <locationX>138</locationX>
        <locationY>2072</locationY>
        <collectionReference>cv_List_of_Numbers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Loop_Number_to_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Days_to_Create_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Day_Records</name>
        <label>Create Day Records</label>
        <locationX>138</locationX>
        <locationY>2996</locationY>
        <connector>
            <targetReference>Get_Created_Days</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>rcs_Days</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Month</name>
        <label>Create Month</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Create_Days_Screen</targetReference>
        </connector>
        <inputReference>Transform_Month_Values</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Week_Record</name>
        <label>Create Week Record</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_New_Week_ID_as_recordId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>sov_Week</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Year</name>
        <label>Create Year</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignRecordIdToReference>var_Year_SFID</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Transform_Month_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>f_Next_Year_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Year__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Days</name>
        <label>Get Created Days</label>
        <locationX>138</locationX>
        <locationY>3104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Created_Days_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Week__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Month</name>
        <label>Get Current Month</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Next_Month</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Week.Month__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Month__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Year</name>
        <label>Get Current Year</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Month_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Month.Year__c</elementReference>
            </value>
        </filters>
        <object>Year__c</object>
        <outputAssignments>
            <assignToReference>var_Year_SFID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Month</name>
        <label>Get Next Month</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Next_Month_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Month_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Next_Month_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Month.Year__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Month__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Year</name>
        <label>Get Next Year</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Next_Year_was_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Next_Year_Name</elementReference>
            </value>
        </filters>
        <object>Year__c</object>
        <outputAssignments>
            <assignToReference>var_Year_SFID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Week</name>
        <label>Get Week</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Week_was_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Week__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Days_Screen</name>
        <label>Create Days Screen</label>
        <locationX>402</locationX>
        <locationY>1748</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_0_to_CV_of_Numbers</targetReference>
        </connector>
        <fields>
            <name>Create_Days_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Days_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Create_Days_Intro_Text</name>
                    <fieldText>&lt;p&gt;What is the first day of the week you need to create Day records for?&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Starting_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Starting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Week.Number_of_Days__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <numberValue>7.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Week.Number_of_Days__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>7.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>X7_Days_Already</name>
            <fieldText>&lt;p&gt;There are already {!Get_Week.Number_of_Days__c} Days created for this week. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Week.Number_of_Days__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>7.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Created_Days_Screen</name>
        <label>Created Days Screen</label>
        <locationX>138</locationX>
        <locationY>3212</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>New_Day_Records</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Day__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>New Day Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Created_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Date__c&quot;,&quot;guid&quot;:&quot;column-2d16&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-7696&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Record ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Day_Number__c&quot;,&quot;guid&quot;:&quot;column-30cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Day Number&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Days_to_Create_Screen</name>
        <label>Days to Create Screen</label>
        <locationX>138</locationX>
        <locationY>2888</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Day_Records</targetReference>
        </connector>
        <fields>
            <name>Days_to_Create_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Day__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Days to Create</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>rcs_Days</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Day_Number__c&quot;,&quot;guid&quot;:&quot;column-245e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Day Number&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Date__c&quot;,&quot;guid&quot;:&quot;column-99ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1194</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flow_Fault_Message</name>
            <fieldText>&lt;p&gt;Check out the following error message: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Week_Found</name>
        <label>No Week Found</label>
        <locationX>138</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Week_Values</targetReference>
        </connector>
        <fields>
            <name>No_Week_Found_Text</name>
            <fieldText>&lt;p&gt;No week was found. Let&apos;s create one...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_Week_Found_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Week_Found_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Week_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Week Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Week_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>Week Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Week_Found_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Month</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Month__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Month Lookup</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Week__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>External_Week_SFID</name>
                    <dataType>String</dataType>
                    <fieldText>External Week SFID</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Week</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Day_Values</name>
        <label>Transform Day Values</label>
        <locationX>358</locationX>
        <locationY>2588</locationY>
        <connector>
            <targetReference>Add_Stub_to_RCS</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Day__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Week__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Day_Number__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>f_Day_Number_Value</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Month__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_Month_SFID</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Month_Values</name>
        <label>Transform Month Values</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Create_Month</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Month__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Month_Number__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>f_Next_Month_Number</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>IF(TEXT({!f_Next_Month_Number})=&quot;1&quot;, &quot;January&quot;, 
    IF(Text({!f_Next_Month_Number})=&quot;2&quot;, &quot;February&quot;,
        IF(Text({!f_Next_Month_Number})=&quot;3&quot;, &quot;March&quot;,
            IF(Text({!f_Next_Month_Number})=&quot;4&quot;, &quot;April&quot;,
                IF(Text({!f_Next_Month_Number})=&quot;5&quot;, &quot;May&quot;,
                    IF(Text({!f_Next_Month_Number})=&quot;6&quot;, &quot;June&quot;,
                        IF(Text({!f_Next_Month_Number})=&quot;7&quot;, &quot;July&quot;,
                            IF(Text({!f_Next_Month_Number})=&quot;8&quot;, &quot;August&quot;,
                                IF(Text({!f_Next_Month_Number})=&quot;9&quot;, &quot;September&quot;,
                                    IF(Text({!f_Next_Month_Number})=&quot;10&quot;, &quot;October&quot;,
                                        IF(Text({!f_Next_Month_Number})=&quot;11&quot;, &quot;November&quot;, 
                                            IF(Text({!f_Next_Month_Number})=&quot;12&quot;, &quot;December&quot;, &quot;Fix this month&quot;
                                                ))))))))))))</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Year__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_Year_SFID</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>cv_Date_Values</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cv_List_of_Numbers</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>rcs_Days</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Day__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sov_Day</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Day__c</objectType>
    </variables>
    <variables>
        <name>sov_Week</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Week__c</objectType>
    </variables>
    <variables>
        <name>var_Count_of_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Date_Value</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Day_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Month_SFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Year_SFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
