force-app/main/default/flows/Screen_Flow_Log_Daily_Stats.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Daily_Stats_Values</name>
        <label>Assign Daily Stats Values</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>sov_Day.Daily_Alcoholic_Drinks_Drank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Daily_Alcoholic_Drinks_Drank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Day.Daily_Points_Scored__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Daily_Points_Scored</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Day.Total_Daily_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Daily_Points</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Day.Screen_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Day.Sleep_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sleep_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Day.Daily_Steps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Daily_Steps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Day.Daily_Liters_of_Water_Drank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Daily_Liters_of_Water_Drank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Day.Dinner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dinner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Day.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Day</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_Values</name>
        <label>Assign Day Values</label>
        <locationX>1106</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>sov_Day.Day_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Day.Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Week.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Day.Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Month.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Day_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exercise_Record_Values</name>
        <label>Assign Exercise Record Values</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>sov_Exercise.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exercise_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exercise_Day.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exercise_Week.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.Type_of_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Activity.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.Subtype_of_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Activity.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.Distance_Miles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.Duration_Minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.Elevation_Gain_Feet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Elevation_Gain</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.tSS_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tSS_Level_of_Effort</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.Perceived_Level_of_Effort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Perceived_Level_of_Effort</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Exercise.Average_Heart_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Average_Heart_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Week_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exercise_Week.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Exercise_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_Add_Day</name>
        <choiceText>Add a Day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add a Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Done</name>
        <choiceText>Done!</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Done!</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Log_Another_Exercise</name>
        <choiceText>Log Another Exercise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Log Another Exercise </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Log_Book</name>
        <choiceText>Log Book</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Log Book</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_Log_Exercise</name>
        <choiceText>Log Exercise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Log Exercise</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_more_exercise</name>
        <label>Check if more exercise</label>
        <locationX>622</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Done</defaultConnectorLabel>
        <rules>
            <name>Log_Another_Exercise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_need_to_log_another_activity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Log_Another_Exercise</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Log_Exercise_Screen</targetReference>
            </connector>
            <label>Log Another Exercise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Skip_Logging_Daily_Stats</name>
        <label>Check if Skip Logging Daily Stats</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>Log_Daily_Stats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Day_Record</targetReference>
            </connector>
            <label>Log Daily Stats</label>
        </rules>
        <rules>
            <name>Add_a_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_skip_to_logging_other_data</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Add_Day</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Day_Screen</targetReference>
            </connector>
            <label>Add a Day</label>
        </rules>
        <rules>
            <name>Log_Exercise_Skip_Daily_Stats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_skip_to_logging_other_data</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Log_Exercise</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_Exercise_Screen</targetReference>
            </connector>
            <label>Log Exercise, Skip Daily Stats</label>
        </rules>
        <rules>
            <name>Log_Book_Skip_Daily_Stats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_skip_to_logging_other_data</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_Log_Book</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Today.firstSelectedRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_a_Book_Screen</targetReference>
            </connector>
            <label>Log Book, Skip Daily Stats</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_we_find_days</name>
        <label>Did we find days?</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Day_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Day Record for Today</defaultConnectorLabel>
        <rules>
            <name>Get_Days_Found_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Day</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Screen</targetReference>
            </connector>
            <label>Get Days Found Days</label>
        </rules>
    </decisions>
    <description>Adding new functionality: prefill weekly daily data</description>
    <dynamicChoiceSets>
        <name>pcs_Dinner_Day</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dinner__c</picklistField>
        <picklistObject>Day__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>f_Week_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Week &quot; + TEXT({!f_Week_Number}) + &quot;, &quot; + {!f_Year}</expression>
    </formulas>
    <formulas>
        <name>f_Week_Number</name>
        <dataType>Number</dataType>
        <expression>IF( 
  CEILING( ({!$Flow.CurrentDate}- DATE( YEAR({!$Flow.CurrentDate}), 1, 1) + 1) / 7) &gt; 52,
  52,
  CEILING( ({!$Flow.CurrentDate}- DATE( YEAR({!$Flow.CurrentDate}), 1, 1) + 1) / 7)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_Year</name>
        <dataType>String</dataType>
        <expression>TEXT(Year({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Screen Flow: Log Daily Stats {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow: Log Daily Stats</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Day_Record</name>
        <label>Create Day Record</label>
        <locationX>1106</locationX>
        <locationY>1790</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Day</targetReference>
        </connector>
        <inputReference>sov_Day</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Exercise_Record</name>
        <label>Create Exercise Record</label>
        <locationX>622</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Exercise_Records_from_this_Week</targetReference>
        </connector>
        <inputReference>sov_Exercise</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Day</name>
        <label>Get Day</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Week_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_Week_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Day__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Day_Record</name>
        <label>Get Day Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Daily_Stats_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>Day__c</object>
        <outputReference>sov_Day</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Daily_Score__c</queriedFields>
        <queriedFields>Daily_Alcoholic_Drinks_Drank__c</queriedFields>
        <queriedFields>Daily_Gallons_of_Water_Drank__c</queriedFields>
        <queriedFields>Daily_Liters_of_Water_Drank__c</queriedFields>
        <queriedFields>Daily_Points_Scored__c</queriedFields>
        <queriedFields>Daily_Steps__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Dinner__c</queriedFields>
        <queriedFields>Month__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Screen_Time__c</queriedFields>
        <queriedFields>Sleep_Time__c</queriedFields>
        <queriedFields>Total_Daily_Points__c</queriedFields>
        <queriedFields>Week__c</queriedFields>
        <queriedFields>Year__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Exercise_Records_from_this_Week</name>
        <label>Get Exercise Records from this Week</label>
        <locationX>622</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Logged_Exercise_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Week__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Week_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exercise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Day</name>
        <label>Update Day</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Day</targetReference>
        </connector>
        <inputReference>sov_Day</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Day_Screen</name>
        <label>Create Day Screen</label>
        <locationX>1106</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Day_Values</targetReference>
        </connector>
        <fields>
            <name>Create_Day_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Day_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Day_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>Day Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Week</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Week__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Week</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Day__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Day_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Month</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Month__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Month</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Day__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Log_a_Book_Screen</name>
        <label>Log a Book Screen</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Log_Book_Screen_Text</name>
            <fieldText>&lt;p&gt;This functionality is in-progress.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Log_Daily_Stats_Screen</name>
        <label>Log Daily Stats Screen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Daily_Stats_Values</targetReference>
        </connector>
        <fields>
            <name>Log_Daily_Stats_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Log_Daily_Stats_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Daily_Points_Scored</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>sov_Day.Daily_Points_Scored__c</elementReference>
                    </defaultValue>
                    <fieldText>Daily Points Scored</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Screen_Time</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>sov_Day.Screen_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Screen Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Daily_Steps</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>sov_Day.Daily_Steps__c</elementReference>
                    </defaultValue>
                    <fieldText>Daily Steps</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Daily_Liters_of_Water_Drank</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>sov_Day.Daily_Liters_of_Water_Drank__c</elementReference>
                    </defaultValue>
                    <fieldText>Daily Liters of Water Drank</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Log_Daily_Stats_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Daily_Points</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>sov_Day.Total_Daily_Points__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Daily Points</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Sleep_Time</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>sov_Day.Sleep_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Sleep Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Dinner</name>
                    <choiceReferences>pcs_Dinner_Day</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>sov_Day.Dinner__c</elementReference>
                    </defaultValue>
                    <fieldText>Dinner</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Daily_Alcoholic_Drinks_Drank</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>sov_Day.Daily_Alcoholic_Drinks_Drank__c</elementReference>
                    </defaultValue>
                    <fieldText>Daily Alcoholic Drinks Drank</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Log_Exercise_Screen</name>
        <label>Log Exercise Screen</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Exercise_Record_Values</targetReference>
        </connector>
        <fields>
            <name>Overview</name>
            <fieldText>Overview</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Overview_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exercise_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Exercise Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Exercise_Day</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Day of Activity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Exercise__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Day__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Overview_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Activity</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Exercise__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Type_of_Activity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Subtype_of_Activity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Type of Activity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Subtype of Activity</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Exercise_Week</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Week__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Week of Activity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Exercise__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Distance</name>
                    <dataType>Number</dataType>
                    <fieldText>Distance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Duration</name>
                    <dataType>Number</dataType>
                    <fieldText>Duration</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Elevation_Gain</name>
                    <dataType>Number</dataType>
                    <fieldText>Elevation Gain</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Rating</name>
                    <dataType>Number</dataType>
                    <fieldText>Rating</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Value must be between 1 - 10.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Average_Heart_Rate</name>
                    <dataType>Number</dataType>
                    <fieldText>Average Heart Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Perceived_Level_of_Effort</name>
                    <dataType>Number</dataType>
                    <fieldText>Perceived Level of Effort</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Value must be between 1 - 10.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>tSS_Level_of_Effort</name>
                    <dataType>Number</dataType>
                    <fieldText>tSS / Level of Effort</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Logged_Exercise_Screen</name>
        <label>Logged Exercise Screen</label>
        <locationX>622</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_more_exercise</targetReference>
        </connector>
        <fields>
            <name>Logged_Exercise</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Exercise__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Exercise_Records_from_this_Week</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f682&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Exercise Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Date__c&quot;,&quot;guid&quot;:&quot;column-5f00&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Type_of_Activity__c&quot;,&quot;guid&quot;:&quot;column-e76f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type of Activity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Subtype_of_Activity__c&quot;,&quot;guid&quot;:&quot;column-4e17&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Subtype of Activity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Distance__c&quot;,&quot;guid&quot;:&quot;column-29ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Distance&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Duration__c&quot;,&quot;guid&quot;:&quot;column-9161&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Duration&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_need_to_log_another_activity</name>
            <choiceReferences>c_Log_Another_Exercise</choiceReferences>
            <choiceReferences>c_Done</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you need to log another activity?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Skip_Logging_Daily_Stats</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Text</name>
            <fieldText>&lt;p&gt;Hello {!$User.FirstName}, let&apos;s log daily stats...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Today</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Day__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Day</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Date__c&quot;,&quot;guid&quot;:&quot;column-222a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Daily_Score__c&quot;,&quot;guid&quot;:&quot;column-bd9b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Daily Score&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;Daily_Steps__c&quot;,&quot;guid&quot;:&quot;column-f11a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Daily Steps&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Daily_Gallons_of_Water_Drank__c&quot;,&quot;guid&quot;:&quot;column-a890&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Daily Gallons of Water Drank&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Daily_Alcoholic_Drinks_Drank__c&quot;,&quot;guid&quot;:&quot;column-696f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Daily Alcoholic Drinks Drank&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Screen_Time__c&quot;,&quot;guid&quot;:&quot;column-95f8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Screen Time&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Sleep_Time__c&quot;,&quot;guid&quot;:&quot;column-b6bc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Sleep Time&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_you_want_to_skip_to_logging_other_data</name>
            <choiceReferences>c_Log_Exercise</choiceReferences>
            <choiceReferences>c_Log_Book</choiceReferences>
            <choiceReferences>c_Add_Day</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to skip to logging other data?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Day</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sov_Day</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Day__c</objectType>
    </variables>
    <variables>
        <name>sov_Exercise</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exercise__c</objectType>
    </variables>
    <variables>
        <name>var_Week_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
